name: Workflow

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: Build App
      runs: dotnet build BlackJack/BlackJack.csproj
  
  test:
    needs: build
    runs-on: windows-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    - name: Run tests
      run: dotnet test BlackJack.Tests/BlackJack.Tests.csproj